/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    box-sizing: border-box;
}

body{
    font-size: 62.5%; 
    font-weight: 300;  
    color: black;
    font-family: 'Encode Sans Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}
h1{
    font-size: 2.5em;
    font-weight: 400;
}

h2 {
   font-size: 2.2em;
   font-weight: 600;
}
h3 {
    font-weight: 700;
    font-size: 2em;
}
h4 {
    font-size: 1.9em;
}
h5 {
    font-size: 1.8em;
}

p {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 700;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

ul { 
    list-style: none;
    padding: 0;
    margin:0;
}

/* ========= HEADER ===== */

header{
    padding-top: 15px 0 8px;
    padding-bottom: 8px;
}
.nav {
    display: table;
    display: none;
    position: fixed;
    background-color: #fafafa;
    top: 0;
    right: 0;
    width: 75%;
    height: 50%;
    text-align: center;
}

.nav ul {
    display: table-cell;
    vertical-align: middle;
}

.nav ul li {
    padding-right: 30px;
}
.nav a {
    line-height: 2em; 
 } 


/* ======   X dugme  ====== */
nav .close {
    width: 50px;
    height: 30px;
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    margin: 0;

}
nav .close span { 
    width: 45px;
    height: 3px;
    background-color: #000;
    margin-top: 5px;
    display: block;
    transform: rotate(45deg);
}

nav .close span:nth-child(2) {
    position: relative;
    transform: rotate(-45deg);
    top: -9px;
}

.burger {
    width: 50px;
    height: 50px;
    float: right;
    padding: 5px;
    display: absolute;
    border-style: none;
    background-color: white;
} 

.burger span {
    width: 100%;
    height: 3px;
    background-color: #000;
    display: block;
    margin-top: 5px;
}

.burger span:nth-child(1) {
    margin-top: 0;
}
/* ===== END OF HEADER ====== */

/* ==== HERO SECTION ==== */




.hero h1 {
    color: white;
    text-align: center;
    margin: 0 0 5px;
    font-weight: 700;
}
.hero p {
    text-align: center;
    color: #fff;
}
.slides {
    font-color:white;
    text-align: center;
}

.hero li {
    min-height: 140px;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 20px;
}
/* ====END HERO SECTION ==== */

/* ==== MENU SECTION ==== */

.menu p {
    text-align: center;
    margin-bottom: 26px;
    margin-top:20px;
}
.menu ul li {
    font-size: 1.4em;
    text-align: left;
    display: block;
    position: relative;
    padding: 0 30px 10px 0;
}
.menu li span {
    background-color: #fff;
}
    .menu li em {
        font-style: normal;
        position: absolute;
        bottom: 3px;
        right: 3px;
        display: block;
        background-color: #fff;
}
.menu li:first-child {
    margin-bottom: 10px;
    margin-top:22px;
}
.menu h2{
    text-align: center;
}
.menu{
     margin-bottom: 45px;
 }
.beers {
    margin-bottom: 20px;
}
#happy{
    background-color: white;
}


/* ==== END  MENU SECTION ==== */

/* ==== RECOMENDED SECTION ==== */
#recomended li{
    text-align: center;
}
#recomended h3{
    text-align: center;
}
#recomended ul li{
    margin:20px 20px 74px;
    text-align: center;
}
#recomended li{
    max-width: 86%;
}
/* ====END RECOMENDED SECTION ==== */

/* ====ABOUT SECTION ==== */
.about h2{
    text-align: center;
    margin-bottom: 40px;
}
.about p{
    text-align: center;
    margin-bottom:40px;
}
.about li{
    margin-bottom: 15px;
    text-align: center;
}




/* ====END ABOUT SECTION ==== */

/* ====CONTACT SECTION ==== */
.contact h2{
    text-align: center;
}
.contact p{
    text-align: center;
}

/* ====END CONTACT SECTION ==== */

/* ====FOOTHER SECTION ==== */
.footer p{
    text-align: center;

}
.footer {
    margin-top:10px;
}
.logo-copy-wrap{
    margin:0 90px;
}
.footer{
    font-size: 8px;
    
}


/* ==== MEDIA QUERIES ====== */
 

@media only screen and (min-width: 768px) {
        /* === HEADER ==== */
    header {
        padding: 20px 0 15px;
    } 

    .nav {     
        display: block;
        position: initial;
        width: auto;
        height: auto;
        float: right;
        background: inherit;
    }

    nav li { 
    float: left;
    }

    nav a {
        margin-left: 30px;
        color: #4d4c4d;
        font-weight: 500;
    }

    nav a.active,
    nav a:hover {
        color: #c31414;
        padding-bottom: 8px;
        border-bottom: 1px solid #c31414;
    }

    .burger,
    nav .close {
    display: none;
    }
    .menu img{
    width: 300px;
    display: block;
    margin:auto;
    margin-top: 50px;
    }
    #rednegro{
        max-width: 94px;
    }
    .menu ul{
        float: left;
        width: 50%;
     }  
     .menu img{
        max-width: 50%;
     }
     .menu ul li {
    font-size: 1.4em;
    text-align: left;
    display: block;
    position: relative;
    padding: 4px 30px 10px 46px;
    }
    .menu li em {
        font-style: normal; 
        position: absolute;
        bottom: 3px;
        right: 3px;
        display: block;
        background-color: #fff;
        padding: 0px 0 13px;
    }

    /* ===== HERO====*/
    .hero li {
        min-height: 364px;
        text-align: center;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding: 20px;
    }
    .hero h1 {
        color: white;
        text-align: center;
        margin: 0 0 5px;
        font-weight: 700;
    }
    #recomended h3{
        text-align: left;
        padding: inherit;
    }
    .recomended ul{
        max-width: 100%;
        float: left;
        column-count: 4;
        margin:0;
    }
    #recomended ul li {
        margin: 0;
        text-align: center;
        padding: 0px;
    }
    #pivo3{
        height: 205px;
    }
    #pivo4{
        height: 204px;
    }
    #happy {
    background-color: white;
    padding-top: 32px;
}
    .about p{
        margin-bottom: 40px;
        font-size: 16px;
    }
   .about ul{
        list-style: none;
        padding: 0;
        margin:32px;

    }
    .about ul li {
        float: left;
        width: 50%;
    }
    .about ul li:nth-child(odd) {
        padding-left: 5px;
    }
    .about ul li:nth-child(even) {
        padding-right: 5px;
    }
    .about ul li.first:nth-child(odd) {
        padding-right: 0;
    }
    .about ul li.first {
        width: 100%;
     
    }
    .about h2{
        text-align: center;
    }
    .about{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 51px;
        padding: 0;
    }
    
    #prostor{
        height: 170px;
        width: 380px;

    }
    .contact h2 {
        text-align: center;
       
    }
    #bass{
        padding-right: 20px;
        padding-top: 39px;
    }
    .logo-copy-wrap {
        background-position: center;
        margin: 44px 285px;
    }
    .contact{
        column-count: 2;
        margin-top: 35px;
    }
    #downlogo{
        max-width: 144px;
        margin-left: 19px;
    }
    .social li{

    }
   .footer{
        max-width: 1300px;
        max-height: 80px;
        text-align: left;
        margin:0 auto;
        background-color: none;
    }
    .footer p{
    text-align: center;
    color: black;
  
}
}
 @media only screen and (min-width: 1024px) {
     
    #pivo3{
        height: 281px;
    }
    #pivo4{
        height: 281px;
    }
    #bass{
        padding: 42px
    }
    .about p{
        font-size: 24px;
        padding: 34px;
      
    }
    .about h2{
        margin-bottom: 
    }
    .about ul {
        list-style: none;
        padding: 0;
        margin: 32px;
        max-width: 45%;
    }
    #prostor{
        height: 149.7px;
        width: 519px;
    }
}   



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
